<form id="roll-form" class="flexcol">
    <h2>{{label}}</h2>
    <ol class="dice-rolls">
        {{#each status}}
        {{!--only show the status effects that correspond to the chosen ability--}}
        {{#ifEquals this.ability ../used_ability}}
            {{#each this.effects}}
            <li class="status-label">
                <img width="32px" src="{{this.icon}}" />{{localize this.label}}
                <input class="status" type="hidden" value="{{this.id}}" name="status" />
            </li>
            {{/each}}
        {{/ifEquals}}
        {{/each}}
    </ol>
    <div class="grid grid-2col">
        <div>
            {{#each rolls}}
            <div class="flexrow flex-group-center">
                <label for="{{this.type}}" class="resource-label flexlarge align-left">{{this.label}}</label>
                <input type="text" name="{{this.type}}" value="{{this.value}}" data-dtype="Number" />
            </div>
            {{/each}}
        </div>
        <div class="flexrow flex-group-center">
            <label for="free_successes" class="resource-label flexlarge align-left">{{localize
                "CAMAHAV.FreeSuccesses"}}</label>
            <input type="text" name="free_successes" value="{{free_successes}}" data-dtype="Number" />
        </div>
    </div>
    <div class="grid grid-2col">
        <div class="flexrow flex-group-left">
            <label for="safe" class="resource-label flexlarge align-left">{{localize "CAMAHAV.SafeRoll"}}</label>
            <input type="checkbox" name="safe" />
        </div>
        <div class="flexrow flex-group-left">
            <label for="safe" class="resource-label flexlarge align-left">{{localize "CAMAHAV.Target"}}</label>
            <input type="text" name="target" value="0" data-dtype="Number" />
        </div>
    </div>
    <button type="submit">{{localize "CAMAHAV.Roll"}}</button>
</form>