<form id="roll-form" class="message flexcol">
    <h2 style="display: none;" id="label">{{label}}</h2>
    <ol id="status" class="dice-rolls">
        {{#each status}}
        <li class="status-label">
            <img width="32px" src="{{this.icon}}" />{{localize this.label}}
            <input class="status" type="hidden" value="{{this.id}}" name="{{this.id}}" />
        </li>
        {{/each}}
    </ol>
    <div class="grid grid-2col">
        <div class="ability flexrow flex-group-center">
            <label for="roll" class="resource-label rollable flexlarge align-left">{{localize
                'CAMAHAV.RollValue'}}</label>
            <input id="dice" type="text" name="roll" value="{{roll}}" data-dtype="Number" />
        </div>
    </div>
</form>